
/*       page liste entreprises 
-----------------------------------*/


#titreListeEntreprise{
	font-size: 250%;
	padding: 10% 0 5% 2%;
}

.contentListeEntreprise{
	padding: 5% 0 5% 2%;
}

.titreContent{
	display: inline-block;
	font-size: 150%;
}

.boutonListeEntreprise{
	display: inline-block;
	margin-left: 75%;
	padding: 1%;
	text-decoration: none;
}

