
/* version horizontale

header {
	position: fixed;
	width: 100%;
	z-index: 1;
	padding: 0% 0 0% 0;
}

.logo {
	font-family: 'FuturaKoyu',Arial,sans-serif;
	display: inline-block;
	margin-left: 10%;
	width: 15%;
}

nav {
	display: inline-block; 
	width: 70%; 
	text-align: right;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	font-size: 150%;
	margin-left: 4%;
}

.span_header_logo {
	font-size: 150%;
	text-decoration: none;
}

.span_header {
	text-decoration: none;
}

*/

/* version vertical */

header {
	position: fixed;
	width: 10.5em;
	height: 100%;
	z-index: 1;
	padding: 3% 0 0% 0;
}

aside{
	height: 100%;
}

.logoVertical {
	font-family: 'FuturaKoyu',Arial,sans-serif;
	display: inline-block;
	margin-left: 0%;
	padding-bottom: 25%;
}

#logo_site_header{
    width: 80%;
    height: auto;

}

nav {
	display: inline-block; 
	width: 100%; 
	margin-top: 10%;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	font-size: 100%;
	padding-top: 25%;
	padding-bottom: 25%;
	width: 100%;
	height: 100%;
}

.span_header_logoVertical {
	font-size: 150%;
	text-decoration: none;
}

.span_headerVertical {
	text-decoration: none;
}

.span_headerVertical:hover{
}

#credit{
	margin-top: 30%;
	color: black;
}


#page {
	margin-left: 10.5em;
}

#navHorizontal{
	position: absolute;
	padding: 1% 0 1% 5%;
	font-size: 200%;
}

.navHorizontalTransparence, .navHorizontalNonIndex, .navHorizontalGagnerCompetivite ,.navHorizontalDemarcheCitoyenne, .navHorizontalContact, .navHorizontalOuvrirDonnees{
	padding: 5.7% 0 5% 5%;
	font-size: 200%;
	width: 95%;
}


.navHorizontalTransparence.fixed, .navHorizontalNonIndex.fixed, .navHorizontalGagnerCompetivite.fixed ,.navHorizontalDemarcheCitoyenne.fixed, .navHorizontalContact.fixed, .navHorizontalOuvrirDonnees.fixed{
	position: fixed;
	top: 0;
	z-index: 1000;
}


